html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,small,sub,b,dl,ul,li,label,article,details,footer,header,menu,nav,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
article,details,footer,header,menu,nav{display:block}
body{line-height:1}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}
input,select{vertical-align:middle}
ul{list-style:none}
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0}
body{background:#fbfbfb;color:#999;font:12px 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;overflow-y:auto;overflow-x:hidden;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;line-height:18px;}
a, a > *{color:#000834;text-decoration:none;-webkit-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;-moz-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;-ms-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;-o-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;}
a:hover, a > *:hover{color:#555;}
selection{background:#333;color:#fff;text-shadow:none;}
h1{font-size:30px;font-weight:lighter}
h2{font-size:24px;font-weight:lighter}
h3{font-size:18px;font-weight:400;}
h4{font-size:16px;font-weight:400;}
h5{font-size:12px;font-weight:lighter}
h6{font-size:11px;}
h1, h2, h3, h4, h5, h6{color:#333;font-family:'TitilliumText22LMedium', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;line-height:1.25;}
hr,h1,h2,h3,h4,h5,h6,table,blockquote,p{margin-bottom:10px;}
@font-face{font-family:'TitilliumText22LThin';src:url('TitilliumText22L001-webfont.eot');src:url('TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L001-webfont.woff') format('woff'),
url('TitilliumText22L001-webfont.ttf') format('truetype'),
url('TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'TitilliumText22LLight';src:url('TitilliumText22L002-webfont.eot');src:url('TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L002-webfont.woff') format('woff'),
url('TitilliumText22L002-webfont.ttf') format('truetype'),
url('TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'TitilliumText22LRegular';src:url('TitilliumText22L003-webfont.eot');src:url('TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L003-webfont.woff') format('woff'),
url('TitilliumText22L003-webfont.ttf') format('truetype'),
url('TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'TitilliumText22LMedium';src:url('TitilliumText22L004-webfont.eot');src:url('TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L004-webfont.woff') format('woff'),
url('TitilliumText22L004-webfont.ttf') format('truetype'),
url('TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'TitilliumText22LBold';src:url('TitilliumText22L005-webfont.eot');src:url('TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L005-webfont.woff') format('woff'),
url('TitilliumText22L005-webfont.ttf') format('truetype'),
url('TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'TitilliumText22LXBold';src:url('TitilliumText22L006-webfont.eot');src:url('TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L006-webfont.woff') format('woff'),
url('TitilliumText22L006-webfont.ttf') format('truetype'),
url('TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');font-weight:normal;font-style:normal;}
input{-webkit-transition:background 0.3s ease-in-out 0s;-moz-transition:background 0.3s ease-in-out 0s;-o-transition:background 0.3s ease-in-out 0s;-ms-transition:background 0.3s ease-in-out 0s;background:none repeat scroll 0 0 #fff;border:1px solid #f2f2f2;color:#8c8c8c;float:left;font-size:11px;height:12px;padding:10px;width:100%;float:left;font:12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;}
input:focus{background:none repeat scroll 0 0 #f6f6f6;outline:0 none;}
textarea{-webkit-transition:background 0.3s ease-in-out 0s;-moz-transition:background 0.3s ease-in-out 0s;-o-transition:background 0.3s ease-in-out 0s;-ms-transition:background 0.3s ease-in-out 0s;background:none repeat scroll 0 0 #fff;border:1px solid #f2f2f2;color:#8c8c8c;float:left;font-size:11px;height:12px;padding:10px;width:715px;float:left;resize:none;margin-top:20px;margin-bottom:20px;font:12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;height:100px}
textarea:focus{background:none repeat scroll 0 0 #f6f6f6;outline:0 none;}
#body-wrapper{left:50%;margin-left:-520px;position:relative;width:1040px;}
.container{margin:0 20px;position:relative;}
.last, .last, .tw-t.rates, .last{margin-right:0 !important;}
#header-bg{background-color:#000834;height:72px;width:100%;position:absolute;}
#shb{background-color:#f6f6f6;height:132px;width:100%;position:absolute;z-index:-1;border-bottom:#e5e5e5 1px solid;}
#header{background:#000834 repeat-x 0 100%;height:72px;}
#logo{float:left;height:24px;width:106px;margin:24px;background:url(../images/logo.png);}
#navigation{float:right;margin-right:20px;background:url(../images/nav-border.png) repeat-y left 100%;}
#navigation li{float:left;position:relative;width:160px;padding-top:5px;background:url(../images/nav-border.png) repeat-y right 100%;}
#navigation li.current, #navigation li:hover{border-top:#ff4000 solid 5px;height:67px;padding-top:0px;}
#navigation a{color:#999;display:block;font-family:'Helvetica', 'Arial', 'Lucida Grande', sans-serif;font-size:13px;line-height:20px;font-weight:400;padding:21px 10px 26px 20px;position:relative;}
#navigation a:hover, #navigation .hover > a, #navigation .current > a{color:#fff;}
#navigation ul{position:absolute;opacity:0;background:#ff4000;width:160px;-webkit-transition:opacity .25s ease .1s;-moz-transition:opacity .25s ease .1s;-o-transition:opacity .25s ease .1s;-ms-transition:opacity .25s ease .1s;transition:opacity .25s ease .1s;z-index:9999;}
#navigation li:hover > ul{opacity:1;}
#navigation ul li:hover > a{background:rgba(255, 255, 255, 0.1);}
#navigation ul li{height:0;overflow:hidden;padding:0;background:none;-webkit-transition:height .25s ease .1s;-moz-transition:height .25s ease .1s;-o-transition:height .25s ease .1s;-ms-transition:height .25s ease .1s;transition:height .25s ease .1s;}
#navigation li:hover > ul li{height:42px;overflow:visible;padding:0;border-top:none;}
#navigation ul li a{width:130px;padding:10px 10px 11px 20px;margin:0;font-size:12px;font-weight:bold;color:#fff;border-top:1px solid rgba(255, 255, 255, 0.2);}
#navigation ul li a:hover{background:rgba(255, 255, 255, 0.1);}
.selectnav{display:none;}
#back-top{position:fixed;bottom:4%;Right:2%;z-index:9999;}
#back-top a{width:50px;display:block;text-align:center;font:11px/100% Arial, Helvetica, sans-serif;text-transform:uppercase;text-decoration:none;color:#bbb;-webkit-transition:1s;-moz-transition:1s;transition:1s;}
#back-top a:hover{color:#000;}
#back-top span{width:50px;height:50px;display:block;background:#224 url(../images/up-arrow.png) no-repeat center center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-transition:1s;-moz-transition:1s;transition:1s;}
#back-top a:hover span{background-color:#777;}
.email-icon{width:20px;height:20px;background-position:-5px -5px;}
.home-icon{width:20px;height:20px;background-position:-35px -5px;}
.usa-icon{width:40px;height:21px;background-position:-69px -75px;}
.filter{background:#f6f6f6;display:block;height:50px;margin-bottom:30px;position:relative;width:1000px;text-align:center;color:#666;text-transform:lowercase;}
.filter a{display:inline-block;font-size:16px;height:60px;line-height:60px;width:auto;color:#a7a7a7;float:left;padding-left:40px;padding-right:40px;}
.filter a:hover{text-decoration:none;background:#ff4000;color:#FFF;font-weight:lighter;}
.filter .current a{background:#ff4000;color:#FFF;}
#projects3{display:block;overflow:hidden;width:100%;width:1020px;margin-left:-10px;}
#projects3 li{float:left;height:auto;list-style:none outside none;margin:10px;position:relative;width:320px;}
.view{width:100%;height:100%;float:left;overflow:hidden;position:relative;text-align:center;cursor:pointer;}
.view .mask{width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0;}
.view .mask h3{top:20px;left:20px;text-align:left;color:#FFF;position:relative;}
.view .mask p{left:20px;color:#FFF;padding-top:20px;position:relative;text-align:left;}
.view img{display:block;width:100%;position:relative;}
.overlay .info{width:30px;height:30px;position:absolute;bottom:20px;left:20px;float:left;opacity:0;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.overlay:hover .info{opacity:1;}
.overlay .mask{opacity:0;overflow:visible;background:#ff4000;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.overlay:hover .mask{opacity:0.9;background:#ff4000;}
fieldset{background-color:#EBF6E0;border:1px solid #B3DC82;border-left:5px solid #B3DC82;color:#5F9025;padding:20px;margin-right:25px;}
fieldset h1{color:#516547;font-size:24px;}
#footer{background:none repeat scroll 0 0 #000834;bottom:0;margin:50px 0 0;padding:20px 0 0;width:100%;float:left;}
#footer-center{width:1000px;left:50%;margin-left:-500px;min-height:80px;}
#footer-center-bottom{width:1000px;left:50%;margin-left:-500px;min-height:20px;}
#footer-bottom{background:#000129;margin:10px 0 0 0;padding:10px;}
#footer-bottom a{color:#777; margin-right:20px;}
#footer-bottom a:hover{color:#CCC;}
.footer-left{width:765px;float:left;}
.footer-menu{float:left;margin-left:-25px;width:100%;}
.footer-menu li{float:left;position:relative;width:auto;}
.footer-menu a{color:#999;display:block;font-size:12px;padding-right:25px;padding-left:25px;position:relative;}
.footer-menu a:hover{color:#fff;}
.footer-address li{display:block;float:left;position:relative;margin-top:25px;margin-right:25px;padding-left:25px;}
.footer-address li a{color:#a5a5a5;}
.footer-address li a:hover{color:#CCC;}
.footer-address li i{background-image:url(/images/spritesheet.png);background-repeat:no-repeat;display:block;margin-right:10px;position:absolute;margin-top:-2px;margin-left:-25px;}
.copyright li{display:block;float:left;margin-right:30px;}
.copyright li a{color:#888;}
.copyright li a:hover{color:#CCC;}
#top-m.default{ display:none;}
#top-m.default ul {display:none;}
#top-m.fixed{position:fixed;z-index:1000; width:100%;background:#f6f6f6; border-bottom:#f40 1px solid;text-align:center;height:35px;color:#EEE;text-transform:lowercase;opacity:0.9;}
#top-m ul {position:relative;display:inline-block;height:35px;background:#f6f6f6;}
#top-m a {display:inline-block;font-size:16px;height:35px;line-height:35px;width:auto;color:#a7a7a7;float:left;padding-left:42px;padding-right:41px;}
#top-m a:hover{text-decoration:none;background:#ff4000;color:#FFF;font-weight:lighter;}
#top-m .current a{background:#ff4000;color:#FFF;}
@media only screen and (min-width:768px) and (max-width:1020px){body{overflow-x:hidden;}
#body-wrapper{left:50%;margin-left:-384px;position:relative;width:768px;margin-right:0px}
.container{margin:0 18px;position:relative;}
#navigation li{float:left;position:relative;width:105px;}
#navigation ul{width:105px;}
.gray-box{width:684px;padding:20px;}
.graybox-right{float:left;}
#footer-center{left:50%;margin-left:-364px;min-height:160px;width:728px;}
.footer-left{width:735px;float:left;}
.footer-right{margin-top:25px;}
#footer-center-bottom{left:50%;margin-left:-364px;min-height:20px;width:728px;}
.user-grid li{display:inline-block;height:220px;margin-right:35px;margin-bottom:35px;width:220px;}
#logo.count{margin-left:340px;}
#projects3{width:768px;}
#projects3 li{overflow:hidden;width:354px;float:left;margin-bottom:10px;}
#shb{height:122px;}
.filter{width:768px;margin-bottom:15px;}
.filter a{color:#8A8E90;display:block;float:left;font-size:17px;height:50px;line-height:50px;padding-left:18px;padding-right:18px;width:auto;background-color:#F6F6F6;}
textarea{width:448px;}
#back-top{position:fixed;bottom:18.2%;Right:2%;z-index:9999;}
#top-m.fixed{height:35px;}
#top-m.fixed ul {height:35px;}
#top-m.fixed .filter li {margin-left:18px;margin-right:-20px;}
#top-m.fixed a {height:35px;line-height:35px;padding-left:20px;padding-right:20px;}
}
@media only screen and (max-width:767px){body{overflow-x:hidden;}
#body-wrapper{left:50%;margin-left:-240px;position:relative;width:480px;margin-right:0px}
.container{margin:0 20px;position:relative;}
#header-bg{height:145px; width:100%;}
#header{height:145px;}
#shb{height:184px;}
#logo{margin-left:190px;}
#navigation{display:none;}
.js .selectnav{background-color:#25253e;background-position:center right, top left;color:#cccccc;display:inline-block;font-size:12px;padding:10px 10px;width:100%;z-index:999;cursor:pointer;width:440px;margin:0px 20px 30px 20px;}
.gray-box{width:380px;padding:20px;}
.graybox-right{float:left;}
#footer-center{left:50%;margin-left:-220px;min-height:200px;width:440px;}
.footer-left{width:490px;float:left;}
#footer-center-bottom{left:50%;margin-left:-220px;min-height:20px;width:440px;}
#back-top span{display:none;}
.user-grid li{margin-right:0px;margin-bottom:20px;width:220px;}
#logo.count{margin-left:214px;}
#defaultCountdown{width:180px;height:650px;}
#projects3{width:460px;}
#projects3 li{overflow:hidden;width:210px;float:left;margin-bottom:10px;}
.filter{width:440px;margit-bottom:20px;}
.filter a{color:#8A8E90;display:block;float:left;font-size:16px;height:38px;line-height:38px;padding-left:40px;padding-right:40px;width:360px;background-color:#F6F6F6;}
#footer-lang li a{left:27px;top:150px;position:absolute;}
#top-m.default{ display:none;}
#top-m.default ul {display:none;}
#top-m.fixed{display:none; visibility:hidden;}
#top-m ul{display:none;}
#top-m .fixed ul{display:none;}
}
@media only screen and (max-width:479px){body{overflow-x:hidden;}
#body-wrapper{left:50%;margin-left:-150px;position:relative;width:300px;margin-right:0px}
.container{margin:0 10px;position:relative;}
#header-bg{height:145px;}
#header{height:145px;z-index:9999;}
#shb{height:174px;}
#logo{margin-left:100px;}
#navigation{display:none;}
.js .selectnav{background-color:#25253e;background-position:center right, top left;color:#959595;display:inline-block;font-size:12px;padding:10px 10px;width:100%;z-index:999;cursor:pointer;width:280px;margin:0px 10px 30px 10px;}
#footer-center{left:50%;margin-left:-140px;min-height:300px;width:280px;}
.footer-left{width:300px;float:left;}
.footer-menu a{padding-right:5px;padding-bottom:10px;}
#footer-center-bottom{left:50%;margin-left:-140px;min-height:50px;width:280px;}
.social-links{float:left;}
.social-links li{display:block;float:left;height:21px;margin:10px 8px 0 0;position:relative;text-indent:-9999px;width:21px;}
#back-top span{display:none;}
h1.fourofour{font-size:170px;}
#logo.count{margin-left:100px;}
#defaultCountdown{width:180px;height:650px;}
#projects3 li{overflow:hidden;width:280px;float:none;margin-bottom:20px;}
.filter{width:280px;}
.filter a{color:#8A8E90;display:block;float:left;font-size:14px;height:30px;line-height:30px;padding-left:40px;padding-right:40px;width:200px;background-color:#F6F6F6;}
textarea{width:280px;}
fieldset{margin-right:0px;}
}