ErrorDocument 404 /404/
ErrorDocument 401 /access/
ErrorDocument 403 /access/




AuthName "For our members only."
AuthUserFile /home/z/zzz180/luxescorts.com/public_html/zero/ladies_pass//.htpasswd
AuthGroupFile /home/z/zzz180/luxescorts.com/public_html/zero/ladies_pass//.htgroup
AuthType basic
<Limit GET>
Require group Admin Models Members
</Limit>
Order deny,allow
deny from all


Satisfy Any
