html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
small,
sub,
b,
dl,
ul,
li,
label,
article,
details,
footer,
header,
menu,
nav,
input,
textarea,
select {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}
@font-face {
    font-family: 'Futuris Cyrillic';
    font-style: normal;
    font-weight: 400;
    src: local('Futuris Cyrillic'), local('Futuris-Cyrillic'),
		url('/css/fonts/futuris-cyrillic.woff') format('woff'),
        url('/css/fonts/futuris-cyrillic.ttf') format('truetype');
}
@font-face {
    font-family: 'Futuris Bold';
    font-style: bold;
    font-weight: 600;
    src: local('Futuris Bold'), local('Futuris-Bold'),
		url('/css/fonts/futuris-bold.woff') format('woff'),
        url('/css/fonts/futuris-bold.ttf') format('truetype');
}

article,
details,
footer,
header,
menu,
nav {
	display: block
}

body {
	line-height: 1
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none
}

hr {
	background: transparent;
	border: 0;
	clear: both;
	color: transparent;
	height: 1px;
	margin: 0;
	padding: 0
}

input,
select {
	vertical-align: middle
}

ul {
	list-style: none
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0
}

body {
	background: #fbfbfb;
	color: #999;
	font: 13px 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	line-height: 18px
}

a,
a>* {
	color: #000834;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	-moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	-ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	-o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
	transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease
}

a:hover,
a>*:hover {
	color: #555
}

selection {
	background: #333;
	color: #fff;
	text-shadow: none
}

h1 {
	font-size: 30px;
	font-weight: lighter
}

h2 {
	font-size: 24px;
	font-weight: lighter
}

h3 {
	font-size: 18px;
	font-weight: 400
}

h4 {
	font-size: 16px;
	font-weight: 400
}

h5 {
	font-size: 12px;
	font-weight: lighter
}

h6 {
	font-size: 11px
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'TitilliumText22LMedium', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1.25
}

hr,
h1,
h2,
h3,
h4,
h5,
h6,
table,
blockquote,
p {
	margin-bottom: 10px
}




input {
	-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	-o-transition: background 0.3s ease-in-out 0s;
	-ms-transition: background 0.3s ease-in-out 0s;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #f2f2f2;
	color: #8c8c8c;
	float: left;
	font-size: 12px;
	height: 13px;
	padding: 10px;
	width: 100%;
	float: left;
	font: 13px 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

input:focus {
	background: none repeat scroll 0 0 #f6f6f6;
	outline: 0 none
}

textarea {
	-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	-o-transition: background 0.3s ease-in-out 0s;
	-ms-transition: background 0.3s ease-in-out 0s;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #f2f2f2;
	color: #8c8c8c;
	float: left;
	font-size: 12px;
	height: 13px;
	padding: 10px;
	width: 715px;
	float: left;
	resize: none;
	margin-top: 20px;
	margin-bottom: 20px;
	font: 13px 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	height: 100px
}

textarea:focus {
	background: none repeat scroll 0 0 #f6f6f6;
	outline: 0 none
}

#body-wrapper {
	left: 50%;
	margin-left: -530px;
	position: relative;
	width: 1060px
}

.container {
	margin: 0 10px;
	position: relative
}

.last,
.last,
.tw-t.rates,
.last {
	margin-right: 0 !important
}

#header-bg {
	background-color: #000834;
	height: 72px;
	width: 100%;
	position: absolute
}

#shb {
	background-color: #f6f6f6;
	height: 132px;
	width: 100%;
	position: absolute;
	z-index: -1;
	border-bottom: #e5e5e5 1px solid
}

#header {
	background: #000834 repeat-x 0 100%;
	height: 72px
}

#logo {
float: left;
margin: 24px;
width: 106px; height: 24px;
background: url('https://ic.m-b.su/css_sprites.png') -10px -10px;
}



#navigation {
	float: right;
	margin-right: 20px;
	background: url(https://ic.m-b.su/nav-border.png) repeat-y left 100%
}

#navigation li {
	float: left;
	position: relative;
	width: 160px;
	padding-top: 5px;
	background: url(https://ic.m-b.su/nav-border.png) repeat-y right 100%
}

#navigation li.current,
#navigation li:hover {
	border-top: #ff4000 solid 5px;
	height: 67px;
	padding-top: 0px
}

#navigation a {
	color:#AAA;
	display: block;
	font-family:'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	letter-spacing:1px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	padding: 21px 5px 26px 5px;
	text-align: center;
	position: relative
}

#navigation a:hover,
#navigation .hover>a,
#navigation .current>a {
	color: #FFF
}

#navigation ul {
	position: absolute;
	opacity: 0;
	background: #ff4000;
	width: 160px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
	z-index: 9999
}

#navigation li:hover>ul {
	opacity: 1
}

#navigation ul li:hover>a {
	background: rgba(255, 255, 255, 0.2)
}

#navigation ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	background: none;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s
}

#navigation li:hover>ul li {
	height: 42px;
	overflow: visible;
	padding: 0;
	border-top: none
}

#navigation ul li a {
	width: 130px;
	padding: 10px 10px 11px 20px;
	margin: 0;
	font-size: 16px;
	font-family: 'Futuris Bold', arial;
	color: #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.2)
}

#navigation ul li a:hover {
	background: rgba(255, 255, 255, 0.1);
		color: #EEE;
}

.selectnav {
	display: none
}

#back-top {
	position: fixed;
	bottom: 5%;
	Right: 2%;
	z-index: 9999;
	opacity:0.9;
}

#back-top a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s
}

#back-top a:hover {
	color: #000
}

#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	background: #224 url('https://ic.m-b.su/css_sprites.png') -10px -54px; no-repeat center center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s
}

#back-top a:hover span {
	background-color: #777
}

.email-icon {
	width: 20px;
	height: 20px;
	background-position: -5px -5px
}

.home-icon {
	width: 20px;
	height: 20px;
	background-position: -35px -5px
}

.usa-icon {
	width: 40px;
	height: 21px;
	background-position: -69px -75px
}

.filter {
	background: #f6f6f6;
	display: block;
	height: 50px;
	margin-bottom: 30px;
	position: relative;
	width: 1060px;
	text-align: center;
	color: #666;
}

.filter a {
	display: inline-block;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	width: auto;
	color: #667;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
    font-family: 'Futuris Cyrillic', arial;

}

.filter a:hover {
	text-decoration: none;
	background: #ff4000;
	color: #FFF;
	font-weight: lighter;
}

.filter .current a {
	background: #ff4000;
	color: #FFF;
    font-size: 18px;
	font-family: 'Futuris Bold', arial;	
	letter-spacing: 1px
}

#projects3 {
	display: block;
	overflow: hidden;
	width: 100%;
	width: 1060px;
	margin-left: -3px
}

#projects3 li {
	float: left;
	height: auto;
	list-style: none outside none;
	margin: 1px;
	position: relative;
	width: 350px;
	border: 1px transparent;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.view {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	border: 1px  transparent;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.view .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0
}

.view .mask h3 {
	top: 15%;
	left: 10%;
	text-align: left;
	color: #fff;
	position: relative;
	font-family: 'Futuris Cyrillic', arial;
        font-size: 36px;
        
}

.view .mask p {
	left: 10%;
	color: #FFF;
	padding-top: 30%;
	position: relative;
	text-align: left
}

.view img {
	display: block;
	width: 100%;
	position: relative
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out
}


.overlay .info {
    width: 30px; height: 30px;
    background: url('https://ic.m-b.su/css_sprites.png') -80px -54px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	float: left;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out
}

.overlay:hover .info {
	opacity: 1
}

.overlay .mask {
	opacity: 0;
	overflow: visible;
	background: #000;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out
}

.overlay:hover .mask {
	opacity: 0.7;
	background: #000;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out
}

#loading-div {display: none;}


fieldset {
	background-color: #EBF6E0;
	border: 1px solid #B3DC82;
	border-left: 5px solid #B3DC82;
	color: #5F9025;
	padding: 20px;
	margin-right: 25px
}

fieldset h1 {
	color: #516547;
	font-size: 24px
}

#footer {
	background: none repeat scroll 0 0 #000834;
	bottom: 0;
	margin: 50px 0 0;
	padding: 20px 0 0;
	width: 100%;
	float: left
}

#footer-center {
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	min-height: 80px
}

#footer-center-bottom {
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	min-height: 20px
}

#footer-bottom {
	background: #000129;
	margin: 10px 0 0 0;
	padding: 10px
}

#footer-bottom a {
	color: #777;
	margin-right: 20px
}

#footer-bottom a:hover {
	color: #CCC
}

.footer-left {
	width: 765px;
	float: left
}

.footer-menu {
	float: left;
	margin-left: -25px;
	width: 100%
}

.footer-menu li {
	float: left;
	position: relative;
	width: auto
}

.footer-menu a {
	color: #999;
	display: block;
	font-size: 12px;
	padding-right: 25px;
	padding-left: 25px;
	position: relative
}

.footer-menu a:hover {
	color: #fff
}

.footer-address li {
	display: block;
	float: left;
	position: relative;
	margin-top: 25px;
	margin-right: 25px;
	padding-left: 25px
}

.footer-address li a {
	color: #a5a5a5
}

.footer-address li a:hover {
	color: #CCC
}

.footer-address li i {
	background-image: url(https://ic.m-b.su/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	margin-right: 10px;
	position: absolute;
	margin-top: -2px;
	margin-left: -25px
}

.copyright li {
	display: block;
	float: left;
	margin-right: 30px
}

.copyright li a {
	color: #888
}

.copyright li a:hover {
	color: #CCC
}

#top-m.default {
	display: none
}

#top-m.default ul {
	display: none
}

#top-m.fixed {
	position: fixed;
	z-index: 1000;
	width: 100%;
	margin-left:-6px;
	background: #f6f6f6;
	border-bottom: #f40 1px solid;
	text-align: center;
	height: 36px;
	color: #EEE;
	opacity: 0.9
}

#top-m ul {
	position: relative;
	display: inline-block;
	height: 35px;
	background: #f6f6f6;
	width: 1060px;
}

#top-m a {
	display: inline-block;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	width: auto;
	color: #667;
	float: left;
	padding-left: 15px;
	padding-right: 15px
}

#top-m a:hover {
	text-decoration: none;
	background: #ff4000;
	color: #FFF;
	font-weight: lighter
}

#top-m .current a {
	background: #ff4000;
	color: #FFF
}

@media only screen and (min-width:760px) and (max-width:1055px) {
	body {
		overflow-x: hidden
	}
	#body-wrapper {
		left: 50%;
		margin-left: -394px;
		position: relative;
		width: 760px;
		margin-right: 0px
	}
	.container {
		margin: 0 18px;
		position: relative
	}
	#navigation li {
		float: left;
		position: relative;
		width: 105px
	}
	#navigation ul {
		width: 105px
	}
	#navigation a {
	padding: 21px 10px 26px 10px;
		text-align-last: center

}
	.gray-box {
		width: 684px;
		padding: 20px
	}
	.graybox-right {
		float: left
	}
	#footer-center {
		left: 50%;
		margin-left: -364px;
		min-height: 160px;
		width: 728px
	}
	.footer-left {
		width: 735px;
		float: left
	}
	.footer-right {
		margin-top: 25px
	}
	#footer-center-bottom {
		left: 50%;
		margin-left: -364px;
		min-height: 20px;
		width: 728px
	}
	.user-grid li {
		display: inline-block;
		height: 220px;
		margin-right: 35px;
		margin-bottom: 35px;
		width: 220px
	}
	#logo.count {
		margin-left: 340px
			
	}
	#projects3 {
		width: 768px
	}
	#projects3 li {
		overflow: hidden;
		width: 250px;
		float: left;
		margin-bottom: 1px
	}
	#shb {
		height: 122px
	}
	.filter {
		width: 768px;
		margin-bottom: 15px
	}
	.filter a {
		color: #8A8E90;
		display: block;
		float: left;
		font-size: 18px;
		height: 50px;
		line-height: 50px;
		padding-left: 15px;
		padding-right: 5px;
		text-align: center;
		width: auto;
		background-color: #F6F6F6
	}
	.filter .current a {

    font-size: 16px;
	font-family: 'Futuris Bold', arial;	
	letter-spacing: 1px
}
	textarea {
		width: 448px
	}
	#back-top {
		position: fixed;
		bottom: 12%;
		Right: 2%;
		z-index: 9999
	}
	#top-m.fixed {
		height: 35px;
		
	}
	#top-m.fixed ul {
		height: 35px;
		width: 760px;
	}
	#top-m.fixed .filter li {
		margin-left: 5px;
		margin-right: -20px
	}
	#top-m.fixed a {
		height: 35px;
		line-height: 35px;
		padding-left: 10px;
		padding-right: 7px;
		font-size:18px;
	}
}

@media only screen and (max-width:765px) {
	body {
		overflow-x: hidden
	}
	#body-wrapper {
		left: 50%;
		margin-left: -330px;
		position: relative;
		width: 765px;
		margin-right: 0px
	}
	.container {
		margin: 0 20px;
		position: relative
	}
	#header-bg {
		height: 145px;
		width: 765px
	}
	#header {
		height: 145px
	}
	#shb {
		height: 184px
	}
	#logo {
		margin-left: 35%
	}
	#navigation {
		display: none
	}
	.js .selectnav {
		background-color: #25253e;
		background-position: center right, top left;
		color: #ccc;
		display: inline-block;
		font-size: 12px;
		padding: 10px 10px;
		width: 100%;
		z-index: 999;
		cursor: pointer;
		width: 600px;
		margin: 0px 20px 30px 20px
	}
	.gray-box {
		width: 100%;
		padding: 20px
	}
	.graybox-right {
		float: left
	}
	#footer-center {
		left: 50%;
		margin-left: -220px;
		min-height: 200px;
		width: 500px
	}
	.footer-left {
		width: 600px;
		float: left
	}
	#footer-center-bottom {
		left: 50%;
		margin-left: -220px;
		min-height: 20px;
		width: 600px
	}
	#back-top {
		position: fixed;
		bottom: 15%;
		Right: 2%;
		z-index: 9999
	}
	.user-grid li {
		margin-right: 0px;
		margin-bottom: 20px;
		width: 220px
	}
	#logo.count {
		margin-left: 280px
	}
	#defaultCountdown {
		width: 180px;
		height: 650px
	}
	#projects3 {
		width: 99%
	}
	#projects3 li {
		overflow: hidden;
		width: 205px;
		float: left;
		margin-bottom: 2px
	}
	.view .mask p {
	left: 10%;
     padding-top: 30%;

}
	.filter {
		width: 600px;
		margit-bottom: 20px;
		
	}
	.filter a {
		color: #8A8E90;
		display: block;
		float: left;
		font-size: 18px;
		height: 38px;
		line-height: 38px;
		padding-left: 40px;
		padding-right: 30px;
		width: 545px;
		background-color: #F6F6F6
	}
	#footer-lang li a {
		left: 27px;
		top: 150px;
		position: absolute
	}
	#top-m.default {
		display: none
	}
	#top-m.default ul {
		display: none
	}
	#top-m.fixed {
		display: none;
		visibility: hidden
	}
	#top-m ul {
		display: none
	}
	#top-m .fixed ul {
		display: none
	}
}

@media only screen and (max-width: 467px) {
	body {
		overflow-x: hidden
	}
	#body-wrapper {
		left: 50%;
		margin-left: -180px;
		position: relative;
		width: 400px;
		margin-right: 0px
	}
	.container {
		margin: 0 10px;
		position: relative
	}
	#header-bg {
		height: 145px
	}
	#header {
		height: 145px;
		z-index: 9999
	}
	#shb {
		height: 174px
	}
	#logo {
		margin-left: 35%
	}
	#navigation {
		display: none
	}
	
	.js .selectnav {
		width: 100%;
		z-index: 999;
		cursor: pointer;
		width: 333px;
		margin: 0px 10px 30px 10px;
	}
	#footer-center {
		left: 50%;
		margin-left: -150px;
		min-height: 300px;
		width: 320px
	}
	.footer-left {
		width: 320px;
		float: left
	}
	.footer-menu a {
		padding-right: 5px;
		padding-bottom: 10px
	}
	#footer-center-bottom {
		left: 50%;
		margin-left: -150px;
		min-height: 50px;
		width: 320px
	}
	.social-links {
		float: left
	}
	.social-links li {
		display: block;
		float: left;
		height: 21px;
		margin: 10px 8px 0 0;
		position: relative;
		text-indent: -9999px;
		width: 21px
	}

	h1.fourofour {
		font-size: 17px
	}
	#logo.count {
		margin-left: 100px
	}
	#defaultCountdown {
		width: 180px;
		height: 650px
	}
	#projects3 {
		width: 100%
	}
	#projects3 li {
		overflow: hidden;
		width: 342px;
		float: none;
		margin-top: 2px;
		margin-bottom: 4px;
	}
	.filter {
		width: 280px;
		
	}
	.filter a {
		color: #8A8E90;
		display: block;
		float: left;
		font-size: 16px;
		font-stretch: extra-expanded;
		height: 30px;
		line-height: 30px;
		padding-left: 40px;
		padding-right: 40px;
		width: 260px;
		background-color: #F6F6F6;

	}
	textarea {
		width: 280px
	}
	fieldset {
		margin-right: 0px
	}
}

@media only screen and (max-width: 320px) {
	body {margin: 0 auto;
		padding: 0;
		text-align: center;
		overflow-x: hidden
	}
	#body-wrapper {
		left: 50%;
		margin-left: -155px;
		position: relative;
		width: 300px;
		margin-right: 0px
	}
	.container {
		margin: 0 10px;
		position: relative
	}
	#header-bg {
		height: 145px
	}
	#header {
		height: 145px;
		z-index: 9999
	}
	#shb {
		height: 174px
	}
	#logo {
		margin-left: 35%
	}
	#navigation {
		display: none
	}
	
	.js .selectnav {
		width: 100%;
		z-index: 999;
		cursor: pointer;
		width: 260px;
		margin: 0px 10px 30px 10px;
	}
	#footer-center {
		left: 50%;
		margin-left: -150px;
		min-height: 300px;
		width: 300px
	}
	.footer-left {
		width: 280px;
		float: left
	}
	.footer-menu a {
		padding-right: 5px;
		padding-bottom: 10px
	}
	#footer-center-bottom {
		left: 50%;
		margin-left: -150px;
		min-height: 50px;
		width: 300px
	}
	.social-links {
		float: left
	}
	.social-links li {
		display: block;
		float: left;
		height: 21px;
		margin: 10px 8px 0 0;
		position: relative;
		text-indent: -9999px;
		width: 21px
	}
	#back-top {
		position: fixed;
		bottom: 15%;
		Right: 2%;
		z-index: 9999
	}
	h1.fourofour {
		font-size: 17px
	}
	#logo.count {
		margin-left: 100px
	}
	#defaultCountdown {
		width: 180px;
		height: 650px
	}
	#projects3 {
		width: 100%;
		position: absolute;
	}
	#projects3 li {
		overflow: hidden;
		width: 300px;
		float: none;
		margin-top: 2px;
		margin-bottom: 4px;
	}
	.filter {
		width: 220px;

	}
	.filter a {
		color: #8A8E90;
		display: block;
		float: left;
		font-size: 16px;
		font-stretch: extra-expanded;
		height: 30px;
		line-height: 30px;
		padding-left: 40px;
		padding-right: 40px;
		width: 220px;
		background-color: #F6F6F6;
	
	}
	textarea {
		width: 280px
	}
	fieldset {
		margin-right: 0px
	}
}

