/*
 * jQuery FlexSlider v2.0
 * https://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * https://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;	z-index:1; border: 1px; transparent;-moz-border-radius: 9px;-webkit-border-radius: 9px;}
.flexslider .slides video {width: 100%; display: block;	z-index:1; border: 1px; transparent;-moz-border-radius: 12px;-webkit-border-radius: 12px;}
.flexslider .slides iframe {width: 90vw; height: calc(90vw/5); display: block;	z-index:1; border: 1px; transparent;-moz-border-radius: 9px;-webkit-border-radius: 9px;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; position: relative; }
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 2;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {height: 0;}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  background: url(https://ic.m-b.su/bg_direction_nav.png) no-repeat 0 0 ;  border-radius: 15px;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 0px; }
.flex-direction-nav .flex-prev {left: 0px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: 0.3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -5px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.slide-caption {
    margin: 0 0 20px 620px;
    padding: 22px;
	z-index:2;
	width:300px;
	opacity: 0;
	bottom: 0px;
	position:absolute;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;   
}

 .slides:hover .slide-caption, .flexslider:hover .slide-caption {   
	opacity: 1;
	bottom: 70px;
	position:absolute;   
}


.slide-caption h3 {
    color: #2b2b2b;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
	font-size:30px;
	font-family: 'TitilliumText22LMedium', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}


.slide-caption p {
    color: #BBBBBB;
    line-height: 19px;
    margin: 20px 0;
}


@media only screen and (min-width: 768px) and (max-width: 1020px) {

.slide-caption {
    margin: 0 0 -40px 400px;
    padding: 22px;
	z-index:2;
	width:260px;
	opacity: 0;
	bottom: 0px;
	position:absolute;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;   
}	


}


@media screen and (max-width: 460px) {

 .flex-direction-nav .flex-prev {
    
    left: -25px;
  }
  .flex-direction-nav .flex-next {
   
    right: -25px;
  }
    .flexslider .slides iframe {width: 60vw; height: calc(60vw/4); display: block;	z-index:1; border: 1px; transparent;-moz-border-radius: 9px;-webkit-border-radius: 9px;}

}

@media screen and (max-width: 860px) {

 .flex-direction-nav .flex-prev {
  
    left: -25px;
  }
  .flex-direction-nav .flex-next {
    
    right: -25px;
  }
}