@font-face{font-family:'TitilliumText22LMedium';src:url('TitilliumText22L004-webfont.eot');src:url('TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
url('TitilliumText22L004-webfont.woff') format('woff'),
url('TitilliumText22L004-webfont.ttf') format('truetype'),
url('TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');font-weight:normal;font-style:normal;}
.tp-simpleresponsive .slotholder *,
.tp-simpleresponsive img{-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;-webkit-perspective:1000;}
.tp-simpleresponsive .caption{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-moz-opacity:0;-khtml-opacity:0;opacity:0;position:absolute;visibility:hidden;}
.tp-simpleresponsive img{max-width:none;}
.caption.big_grey{position:absolute;color:#2b2b2b;text-shadow:none;font-weight:lighter;font-size:36px;line-height:36px;font-family:'TitilliumText22LMedium', 'arial';padding:0px 4px;padding-top:1px;margin:0px;border-width:0px;border-style:none;letter-spacing:-0.5px;}
.caption.big_orange{position:absolute;color:#FF4000;text-shadow:none;font-weight:lighter;font-size:20px;line-height:36px;font-family:'TitilliumText22LMedium', 'arial';padding:0px 4px;margin:0px;border-width:0px;border-style:none;letter-spacing:-0.5px;}
.caption.medium_grey{position:absolute;color:#2b2b2b;text-shadow:none;font-weight:normal;font-size:16px;line-height:20px;font-family:'TitilliumText22LMedium', 'arial';padding:2px 0px;margin:0px;border-width:0px;border-style:none;white-space:nowrap;}
.caption.small_text{position:absolute;color:#757B7F;text-shadow:none;font-weight:normal;font-size:12px;line-height:16px;font-family:Arial, Helvetica, sans-serif;margin:0px;border-width:0px;border-style:none;white-space:nowrap;}
.caption a{color:#fff;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;}
.caption a:hover{color:#fff;}
.purchase:hover,
.button:hover,
.button.big:hover{background-position:bottom, 15px 11px;}
@media only screen and (min-width:0px) and (max-width:479px){
.button:hover.green,
.purchase:hover.green{background-color:#21a117;-webkit-box-shadow:0px 3px 0px 0px #104d0b;-moz-box-shadow:0px 3px 0px 0px #104d0b;box-shadow:0px 3px 0px 0px #104d0b;}
.button:hover.blue,
.purchase:hover.blue{background-color:#1d78cb;-webkit-box-shadow:0px 3px 0px 0px #0f3e68;-moz-box-shadow:0px 3px 0px 0px #0f3e68;box-shadow:0px 3px 0px 0px #0f3e68;}
.button:hover.red,
.purchase:hover.red{background-color:#cb1d1d;-webkit-box-shadow:0px 3px 0px 0px #7c1212;-moz-box-shadow:0px 3px 0px 0px #7c1212;box-shadow:0px 3px 0px 0px #7c1212;}
.button:hover.orange,
.purchase:hover.orange{background-color:#ff7700;-webkit-box-shadow:0px 3px 0px 0px #a34c00;-moz-box-shadow:0px 3px 0px 0px #a34c00;box-shadow:0px 3px 0px 0px #a34c00;}
.button:hover.darkgrey,.button:hover.grey,
.purchase:hover.darkgrey{background-color:#555;-webkit-box-shadow:0px 3px 0px 0px #222;-moz-box-shadow:0px 3px 0px 0px #222;box-shadow:0px 3px 0px 0px #222;}
.button:hover.lightgrey,
.purchase:hover.lightgrey{background-color:#888;-webkit-box-shadow:0px 3px 0px 0px #555;-moz-box-shadow:0px 3px 0px 0px #555;box-shadow:0px 3px 0px 0px #555;}
.tp-bullets{z-index:100;position:absolute;bottom:50px;}
.tp-bullets.simplebullets{bottom:50px;}
.tp-bullets.simplebullets .bullet{cursor:pointer;position:relative;background:url(../images/assets/bullets.png) no-Repeat bottom left;width:23px;height:23px;margin-right:0px;float:left;margin-top:-40px;}
.tp-bullets.simplebullets .bullet.last{margin-right:0px;}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected{background-position:top left;}
.tp-leftarrow{z-index:100;cursor:pointer;position:relative;background:url(../images/assets/arrow_left.png) no-Repeat top left;width:26px;height:26px;margin-right:0px;float:left;margin-top:-13px;}
.tp-rightarrow{z-index:100;cursor:pointer;position:relative;background:url(../images/assets/arrow_right.png) no-Repeat top left;width:26px;height:26px;margin-right:0px;float:left;margin-top:-13px;}
.tp-leftarrow.large{z-index:100;cursor:pointer;position:relative;background:url(../images/assets/arrow_large_left.png) no-Repeat top left;width:46px;height:46px;margin-left:20px;margin-top:-23px;}
.tp-rightarrow.large{z-index:100;cursor:pointer;position:relative;background:url(../images/assets/arrow_large_right.png) no-Repeat top left;width:46px;height:46px;margin-left:-20px;margin-top:-23px;}
.tp-leftarrow:hover,
.tp-rightarrow:hover{background-position:bottom left;}
.tp-bullets.tp-thumbs .bullet:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";-moz-opacity:1;-khtml-opacity:1;opacity:1;}
}
@media only screen and (min-width:0px) and (max-width:479px){
}
.tp-simpleresponsive img{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;}
.tp-simpleresponsive a{text-decoration:none;}
.tp-simpleresponsive ul{list-style:none;padding:0;margin:0;}
.tp-simpleresponsive >ul >li{list-stye:none;position:absolute;visibility:hidden;}
.tp-loader{background:url(../images/assets/loader.gif) no-repeat 10px 10px;background-color:#fff;margin:-22px -22px;top:50%;left:50%;z-index:10000;position:absolute;width:44px;height:44px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
