html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,small,sub,b,dl,ul,li,label,article,details,footer,header,menu,nav,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
article,details,footer,header,menu,nav{display:block}
body{line-height:1}
,q{quotes:none}
:before,:after,q:before,q:after{content:none}
hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}
input,select{vertical-align:middle}
ul{list-style:none}
body{background:#fbfbfb;color:#999;font:12px 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;overflow-y:auto;overflow-x:hidden;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;line-height:18px;}
a, a > *{color:#000834;text-decoration:none;-webkit-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;-moz-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;-ms-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;-o-transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;transition:background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;}
a:hover, a > *:hover{color:#555;}
h1{font-size:30px;font-weight:lighter}
h2{font-size:24px;font-weight:lighter}
h3{font-size:18px;font-weight:400;}
h4{font-size:16px;font-weight:400;}
h5{font-size:12px;font-weight:lighter}
h6{font-size:11px;}
hr,h1,h2,h3,h4,h5,h6,p{margin-bottom:10px;}
#body-wrapper{left:50%;margin-left:-520px;position:relative;width:1040px;}
#body-wrap{left:50%;margin-left:-520px;position:relative;width:1040px;}
.container{margin:0 20px;position:relative;}
.one-fourth, .three-fourth, .one-third, .two-third, .one-half{float:left;margin-right:20px !important;position:relative;}
.one-fourth.last, .three-fourth.last, .one-third.last, .two-third.last, .one-half.last{margin-right:0 !important;}
.one-fourth{width:235px;}
#header-bg{background-color:#000834;height:72px;width:100%;position:absolute;}
#header{background:#000834 repeat-x 0 100%;height:72px;}
#logo{float:left;height:24px;width:106px;margin:24px;background:url(../images/logo.png);}
#navigation{float:right;margin-right:20px;background:url(../images/nav-border.png) repeat-y left 100%;}
#navigation li{float:left;position:relative;width:160px;padding-top:5px;background:url(../images/nav-border.png) repeat-y right 100%;}
#navigation li.current, #navigation li:hover{border-top:#ff4000 solid 5px;height:67px;padding-top:0px;}
#navigation a{color:#999;display:block;font-family:'Helvetica', 'Arial', 'Lucida Grande', sans-serif;font-size:13px;line-height:20px;font-weight:400;padding:21px 10px 26px 20px;position:relative;}
#navigation a:hover, #navigation .hover > a, #navigation .current > a{color:#fff;}
#navigation ul{position:absolute;opacity:0;background:#ff4000;width:160px;-webkit-transition:opacity .25s ease .1s;-moz-transition:opacity .25s ease .1s;-o-transition:opacity .25s ease .1s;-ms-transition:opacity .25s ease .1s;transition:opacity .25s ease .1s;z-index:9999;}
#navigation li:hover > ul{opacity:1;}
#navigation li:hover > a{color:#fff;}
#navigation ul li:hover > a{background:rgba(255, 255, 255, 0.1);}
#navigation ul li{height:0;overflow:hidden;padding:0;background:none;-webkit-transition:height .25s ease .1s;-moz-transition:height .25s ease .1s;-o-transition:height .25s ease .1s;-ms-transition:height .25s ease .1s;transition:height .25s ease .1s;}
#navigation li:hover > ul li{height:42px;overflow:visible;padding:0;border-top:none;}
#navigation ul li a{width:130px;padding:10px 10px 11px 20px;margin:0;font-size:12px;font-weight:bold;color:#fff;border-top:1px solid rgba(255, 255, 255, 0.2);}
#navigation ul li a:hover{background:rgba(255, 255, 255, 0.1);}
#navigation ul ul li:hover > #navigation ul li a{background:rgba(255, 255, 255, 0.1);}
.selectnav{display:none;}
#slider{width:100%;margin-bottom:100px;}
#features{margin-bottom:25px;float:left;}
.feature-icon{background:#000834;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:inline-block;float:left;height:36px;margin-top:-9px;margin-right:15px;text-align:center;width:36px;margin-bottom:13px;}
.feature-icon i{background-image:url(/images/spritesheet.png);background-repeat:no-repeat;display:block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;float:left;height:36px;margin-top:0px;margin-right:15px;text-align:center;width:36px;margin-bottom:13px;}
.feature p{margin-top:20px;}
.email-icon{width:20px;height:20px;background-position:-5px -5px;}
.home-icon{width:20px;height:20px;background-position:-35px -5px;}
.phone-icon{width:20px;height:20px;background-position:-5px -35px;}
.services_icon_05{width:36px;height:36px;background-position:-35px -35px;}
.services_icon_07{width:36px;height:36px;background-position:-106px -5px;}
.services_icon_10{width:36px;height:36px;background-position:-106px -51px;}
.services_icon_11{width:36px;height:36px;background-position:-24px -97px;}
#subscribe button:hover{background:url("../images/newsletter-icon1.png") no-repeat scroll center center #000834;}
.btn-image{padding:12px 15px 12px 45px;background:url(../images/link.png) no-repeat 15px 10px #ff4000;color:#fff;font-size:12px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;line-height:38px;}
.btn-image:hover{text-decoration:none;background:url(../images/link.png) no-repeat 15px 10px #25253e;color:#fff;}


.view .mask, .view .content{width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0;}
.overlay:hover .info{opacity:1;}
.overlay:hover .mask{opacity:1;background:#ff4000;}
.image:hover{width:100%;opacity:1;}
input:focus.btn-image{background:url(../images/link.png) no-repeat 15px 10px #ff4000;}
.widget .categories li a:hover{color:#ff4000;}
#sidebar .twitter-post a:hover{color:#ff4000;}
#footer{background:none repeat scroll 0 0 #000834;bottom:0;margin:50px 0 0;padding:20px 0 0;width:100%;float:left;}
#footer-center{width:1000px;left:50%;margin-left:-500px;min-height:80px;}
#footer-center-bottom{width:1000px;left:50%;margin-left:-500px;min-height:20px;}
#footer-bottom{background:#000129;margin:50px 0 0 0;padding:10px;}
#footer-bottom a{color:#777; margin-right:20px;}
#footer-bottom a:hover{color:#CCC;}
.footer-left{width:765px;float:left;}
.footer-right{height:auto;float:left;}
.footer-menu{float:left;margin-left:-25px;width:100%;}
.footer-menu li{float:left;position:relative;width:auto;}
.footer-menu a{color:#999;display:block;font-size:12px;padding-right:25px;padding-left:25px;position:relative;}
.footer-menu a:hover, .footer-menu .hover > a, .footer-menu .current > a{color:#fff;}
.footer-address li{display:block;float:left;position:relative;margin-top:25px;margin-right:25px;padding-left:25px;}
.footer-address li a{color:#a5a5a5;}
.footer-address li a:hover{color:#CCC;}
.footer-address li i{background-image:url(/images/spritesheet.png);background-repeat:no-repeat;display:block;margin-right:10px;position:absolute;margin-top:-2px;margin-left:-25px;}
#footer-newsletter input{-webkit-transition:background 0.3s ease-in-out 0s;-moz-transition:background 0.3s ease-in-out 0s;-o-transition:background 0.3s ease-in-out 0s;-ms-transition:background 0.3s ease-in-out 0s;background:none repeat scroll 0 0 #25253e;border:0 none;color:#8c8c8c;float:left;font:12px 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;height:15px;margin:0;padding:10px;width:175px;float:left;}
#footer-newsletter input:focus{background:none repeat scroll 0 0 #2f2f4e;outline:0 none;}
#footer-newsletter button{-webkit-transition:background 0.3s ease-in-out 0s;-moz-transition:background 0.3s ease-in-out 0s;-o-transition:background 0.3s ease-in-out 0s;-ms-transition:background 0.3s ease-in-out 0s;background:url("../images/newsletter-icon.png") no-repeat scroll center center #25253e;margin-left:5px;cursor:pointer;height:35px;text-indent:-99999em;width:35px;border:0;}
#footer-newsletter button:hover{background-color:#2f2f4e;}
.copyright li{display:block;float:left;margin-right:30px;}
.copyright li a{color:#888;}
.copyright li a:hover{color:#CCC;}
.lang{float:right;font-size:12px}
.lang li a:hover{color:#f5f5f5;opacity:1;}
@media only screen and (min-width:768px) and (max-width:1020px){body{overflow-x:hidden;}
#body-wrapper{left:50%;margin-left:-384px;position:relative;width:768px;margin-right:0px}
#body-wrap{left:50%;margin-left:-384px;position:relative;width:768px;margin-right:0px}
.container{margin:0 18px;position:relative;}
#navigation li{float:left;position:relative;width:105px;}
#navigation ul{width:105px;}
#footer-center{left:50%;margin-left:-364px;min-height:160px;width:728px;}
.footer-left{width:735px;float:left;}
.footer-right{margin-top:25px;}
#footer-center-bottom{left:50%;margin-left:-364px;min-height:20px;width:728px;}
.one-fourth{width:167px;}
}
@media only screen and (max-width:767px){body{overflow-x:hidden;}
#body-wrapper{left:50%;margin-left:-240px;position:relative;width:480px;margin-right:0px}
#body-wrap{left:50%;margin-left:-240px;position:relative;width:480px;margin-right:0px}
.container{margin:0 20px;position:relative;}
#header-bg{height:145px;}
#header{height:145px;}
#logo{margin-left:190px;}
#navigation{display:none;}
.js .selectnav{background-color:#25253e;background-position:center right, top left;color:#cccccc;display:inline-block;font-size:12px;padding:10px 10px;width:100%;z-index:999;cursor:pointer;width:440px;margin:0px 20px 30px 20px;}
#features{width:440px;}
.one-fourth.second{margin-right:0px!important}
#footer-center{left:50%;margin-left:-220px;min-height:200px;width:440px;}
.footer-left{width:490px;float:left;}
.footer-right{margin-top:25px;}
#footer-center-bottom{left:50%;margin-left:-220px;min-height:20px;width:440px;}
.one-fourth{width:440px;margin-bottom:20px;}
}
@media only screen and (max-width:479px){body{overflow-x:hidden;}
#body-wrapper{left:50%;margin-left:-150px;position:relative;width:300px;margin-right:0px}
#body-wrap{left:50%;margin-left:-150px;position:relative;width:300px;margin-right:0px}
.container{margin:0 10px;position:relative;}
#header-bg{height:145px;}
#header{height:145px;z-index:9999;}
#logo{margin-left:100px;}
#navigation{display:none;}
.js .selectnav{background-color:#25253e;background-position:center right, top left;color:#959595;display:inline-block;font-size:12px;padding:10px 10px;width:100%;z-index:999;cursor:pointer;width:280px;margin:0px 10px 30px 10px;}
#features{width:280px;}
.one-fourth.second{margin-right:0px!important}
#footer-center{left:50%;margin-left:-140px;min-height:300px;width:280px;}
.footer-left{width:300px;float:left;}
.footer-menu a{padding-right:5px;padding-bottom:10px;}
.footer-right{margin-top:25px;}
#footer-center-bottom{left:50%;margin-left:-140px;min-height:50px;width:280px;}
.one-fourth{width:280px;margin-bottom:20px;}
}